.home-container {
    height: 100vh;
    background-color: blue;
}

.home-header {
    z-index: -1;
}


.menu-bar {
    display: flex;
    justify-content: space-evenly;
}

.dropdown-button {
    display: none;
}

.dropdown-button.dropdown-show {
    display: block;
    // border:
    // background: #fff;
    // border-radius: 4px;
    // box-shadow: 0 0 0 1px rgba(111,119,130,.15), 0 5px 20px 0 rgba(21,27,38,.08);
    // -moz-box-sizing: border-box;
    // box-sizing: border-box;
}

.menu-bar button {
   
}

.dropdown-menu {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    position: absolute;
    border: 1px solid black;
    top: 70px;
    right: 10px;
    font-size: 13px;
    max-width: 500px;
    min-width: 185px;
    background: #f6f8f9;
    border-radius: 4px;
    box-shadow: 0 0 0 1px rgba(111,119,130,.15), 0 5px 20px 0 rgba(21,27,38,.08);
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    
}

.dropdown-menu > div, .dropdown-menu > a {
    border: 1px #6f7782;
    padding: 10px 10px 10px 10px;
    border-bottom: 1px solid #273240;
}

.create-workspace {
    // border-bottom: 1px solid #273240;
}


.edit-workspace {


}


.logout-btn {
    text-decoration: none;
    color: black;
}

