.project-show-outer-container {
    height: 90vh;
    width: 100vh;
    left: 244px;
    display: flex;
    flex-direction: column;
    position: absolute;
}

.project-name-show {
    margin-left: 20px;
    margin-top: 20px;
}

