

.signup {
    background: linear-gradient(to top right, 
    rgba(16, 166, 211, 0.9) 10%, 
    rgba(28, 216, 175, 0.9) 65%, 
    rgba(214, 208, 115, 0.9) 105%);
    height: 100vh;
}

.login-box {
    display: block;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    // background: whitesmoke;
    background: rgba(0,0,0,0.65);
    border-radius: 5px;
    widows: 50px;
    padding: 0 90px 45px;
    flex-basis: 0;
}

.logo-header {
    display: flex;
    justify-content: center;
    position: relative;
    top: 15px;
    text-align: center;
    margin: 0px 0px 30px -5px;
    text-shadow: rgba(0,0,0,0.65);
    
}

.logo-session {
    height: 30px;
    align-self: center;
    padding-right: 10px;
}

.logo {
    text-decoration: none;
    font-size: 30px;
    color: whitesmoke;
    // text-shadow: rgba(0,0,0,0.65);
}



.signup-btn-text {
    align-items: center;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-flex;
    flex-shrink: 0;
    font-size: 13px;
    justify-content: center;
    min-width: 50px;
    padding: 0 10px;
    margin-top: 15px;
    color: whitesmoke;
    text-decoration: none;
}

.login-session .signup-btn-text:hover {
    background-color: whitesmoke;
    color: #b7bfc6;
    border: none;
}

.login-header {
    font-weight: 800;
    font-size: 32px;
    padding: 45px 30px 30px;
    color: whitesmoke;
    text-align: center;
}

.login-input {
    background: whitesmoke;
    margin-left: auto;
    margin-right: auto;
    height: 30px;
    width: 100%;
    margin-bottom: 25px;
    border-radius: 4px;
    text-align: left;
}

.login-btn {
    display: inline-block;
    justify-content: center;
    text-align: center;
    background: linear-gradient(to top right, 
    rgba(240, 14, 14, 0.9) 10%, 
    rgba(255, 115, 129, 0.9) 65%, 
    rgba(252, 189, 1, 0.9) 105%);
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
    padding: 15px 2px;
    border-radius: 4px;
    width: 100%;
    color: white;
    font-weight: 600;
    margin-top: 15px;
    box-sizing: content-box;
}

.demo {
    display: inline-block;
    justify-content: center;
    text-align: center;
    background: linear-gradient(to top right, 
    rgba(240, 14, 14, 0.9) 10%, 
    rgba(255, 115, 129, 0.9) 65%, 
    rgba(252, 189, 1, 0.9) 105%);
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
    padding: 15px 2px;
    border-radius: 4px;
    width: 100%;
    color: white;
    font-weight: 600;
    box-sizing: content-box;
}

.login-box .login-btn:hover {
    background: linear-gradient(to top right, 
    rgba(240, 14, 14, 0.75) 10%, 
    rgba(255, 115, 129, 0.75) 65%, 
    rgba(252, 189, 1, 0.75) 105%);
}

.login-box .demo:hover {
    background: linear-gradient(to top right, 
    rgba(240, 14, 14, 0.75) 10%, 
    rgba(255, 115, 129, 0.75) 65%, 
    rgba(252, 189, 1, 0.75) 105%);
}

::placeholder {
    color: black;
    opacity: 1;
}

.login-session {
    display: flex;
    justify-content: center;
}

.new-account {
    color: whitesmoke;
    padding-top: 20px;
    padding-right: 8px;
    align-items: center;
    font-size: 14px;
}

.signup-btn {
    color: rgb(20, 89, 236);
}

.label-text {
    font-size: 12px;
    text-align: left;
    color: whitesmoke;
}

.login-error {
    // list-style: none;
    font-size: 12px;
    color: whitesmoke;
}

.form-option {
    color: #9ca6af;
    margin-left: 16px;
    margin-right: 16px;
    padding-bottom: 32px;
    padding-top: 32px;
    position: relative;
    text-align: center;
}

.form-option:before {
    border-top: 1px solid #d5dce0;
    content: "";
    height: 1px;
    position: absolute;
    top: 50%;
    width: 40%;
    z-index: 0;
    left: auto;
    right: 0;
}

.form-option:after {
    border-top: 1px solid #d5dce0;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    top: 50%;
    width: 40%;
    z-index: 0;
}