.sidebar-container {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #151b26;
    flex-direction: column;
    color: #d5dce0;
    max-width: 244px;
    min-width: 244px;
    height: 100vh;
    justify-content: center;
    align-items: stretch;
    box-sizing: border-box;
    z-index: 1;
}
.fas {
    color: whitesmoke;
}

.sidebar-logo {
    display: flex;
    align-items: center;
    height: 60px;
    margin: 0;
}

.plana-logo {
    padding-left: 10px;
    padding-right: 10px;
}

.sidebar-logo-text {
    font-size: 20px;
    text-decoration: none;
    color: whitesmoke;
}
.sidebar-links {
    display: flex;
    flex-direction: column;
    align-items: left;
}

.sidebar-link {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: whitesmoke;
    align-items: center;
    height: 28px;
    justify-content: right;
    line-height: 28px;
    padding: 0 10px 0 15px;
    font-size: 13px;
}

.sidebar-links .sidebar-link:hover {
    background-color: #9ca6af;
}
.sidebar-link div {
   padding-left: 10px;
}