.signup-box {
    display: block;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    background: rgba(0,0,0,0.65);
    border-radius: 5px;
    widows: 50px;
    padding: 0 90px 45px;
    flex-basis: 0;
    text-align: center;
   
}

.login-btn-text {
    align-items: center;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-flex;
    flex-shrink: 0;
    font-size: 13px;
    justify-content: center;
    min-width: 50px;
    padding: 0 10px;
    margin-top: 15px;
    color: whitesmoke;
    text-decoration: none;
}


.signup-logo {
    font-weight: 800;
    font-size: 32px;
    padding: 45px 30px 30px;
    color: whitesmoke;
}

.signup-input {
    background: whitesmoke;
    margin-left: auto;
    margin-right: auto;
    height: 30px;
    width: 100%;
    margin-bottom: 25px;
    border-radius: 4px;
    text-align: left;
}

.signup-btn {
    display: inline-block;
    justify-content: center;
    text-align: center;
    background: linear-gradient(to top right, 
    rgba(240, 14, 14, 0.9) 10%, 
    rgba(255, 115, 129, 0.9) 65%, 
    rgba(252, 189, 1, 0.9) 105%);
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
    padding: 15px 0px;
    border-radius: 4px;
    width: 100%;
    color: white;
    font-weight: 600;
    margin-top: 15px;
}

.signup-box .signup-btn:hover {
    background: linear-gradient(to top right, 
    rgba(240, 14, 14, 0.75) 10%, 
    rgba(255, 115, 129, 0.75) 65%, 
    rgba(252, 189, 1, 0.75) 105%);
}

::placeholder {
    color: black;
    opacity: 1;
}

.new-account {
    color: whitesmoke;
    padding-top: 20px;
    padding-right: 8px;
    align-items: center;
    font-size: 14px;
}


.signup-session {
    display: flex;
    justify-content: center;
}


.login-btn-text {
    color: white;
}


.signup-session .login-btn-text:hover {
    background-color: whitesmoke;
    color: #b7bfc6;
    border: none;
}

.label-text {
    font-size: 12px;
    text-align: left;
    color: whitesmoke;
}